.intro_note {
  line-height: 1.5em;
  margin-bottom: 1.3em;
  font-size: 1.23em;
  padding: 0.5em;
}
a {
  text-decoration: none;
}

.section_header {
  margin-bottom: 4rem;
  margin-top: 7.78rem;
}
img {
  width: 100%;
}

#list_good_people {
  margin-bottom: 7rem;
  font-size: 0.9rem;
}

#list_good_people ul {
  padding-left: 0.5rem;
}
.name_list {
  list-style-type: none;
}
.names {
  text-transform: capitalize;
  font-weight: bold;
  line-height: 2.3rem;
}
.sections {
  padding-top: 2.6rem;
}

.section_title {
  text-transform: uppercase;
  font-family: "din-condensed-web", "Trebuchet MS", "Arial Narrow", Arial,
    sans-serif;
  font-size: 25px;
  font-weight: 800;
  padding-top: 5px;
}

.section_body {
  border-bottom: 0.1px rgb(202, 200, 200) solid;
  padding-bottom: 2.6rem;
  padding-top: 1.3rem;
}

.no_border {
  border: none;
}

.section_body_title {
  text-transform: uppercase;
  font-family: "din-condensed-web", "Trebuchet MS", "Arial Narrow", Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 8px;
}
.section_body_subtitle {
  text-transform: uppercase;
  font-family: "din-condensed-web", "Trebuchet MS", "Arial Narrow", Arial,
    sans-serif;
  font-size: 11px;
  font-weight: normal;
}

.header_title {
  font-size: 1.7rem;
  text-transform: uppercase;

  font-weight: bold;
  text-align: center;
  font-family: "din-condensed-web", "Trebuchet MS", "Arial Narrow", Arial,
    sans-serif;
  margin-bottom: 0.67rem;
}

.header_subtitle {
  margin-top: 5px;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-align: center;
  font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
    "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 0.67rem;
  line-height: 1.5em;
}

#body_note {
  background-color: aliceblue;
  padding-bottom: 4%;
  margin-top: 20%;
  overflow: hidden;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

#foot_note {
  padding: 0.8rem;
  margin-bottom: 4.5rem;
}

#resume_content {
  padding: 0.5rem;
}

#submit_button {
  float: right;
  background: black;
  color: white;
  border: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0;
  height: 50px;
  width: 108px;
  text-align: center;
  padding: 0;
}

.form_container label {
  background-color: black;
}

.form_container {
  position: relative;
  overflow: hidden;
  width: inherit;
  margin-bottom: 0.9rem;
}

.icon_label {
  position: absolute;
  left: 0;
  top: 0;
  height: 48px;
  width: 47px;
}

.form__icon {
  position: absolute;
  left: 19%;
  top: 17%;
  height: 30px;
  width: 30px;
}

.form_container input {
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  margin-bottom: 0.2rem;
  margin-right: 1%;
  padding-left: 50px;
  font-size: 18px;
  font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
    "Palatino LT STD", "Book Antiqua", Georgia, serif;
  border: 2px gray solid;
}

.form_container textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.2rem;
  padding-left: 50px;
  padding-top: 1.5%;
  font-size: 18px;
  font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
    "Palatino LT STD", "Book Antiqua", Georgia, serif;
  resize: none;
  border: 2px gray solid;
}

#contact_address {
  font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
    "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 0.78rem;
  line-height: 1.6em;
  margin-bottom: 1.3rem;
}
#contact_address a {
  color: red;
}
#sidebar_menu a {
  color: black;
}
#sidebar_menu a:hover {
  color: red;
}
#sidebar {
  height: 100%;
  width: 11.7%;
  background: white;
  position: fixed;
}

#sidebar_footnote {
  position: absolute;
  bottom: 2.8%;
  left: 10%;
  width: 90%;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
}

#good_people_link {
  text-transform: uppercase;
  color: red;
}

#sidebar_menu {
  position: absolute;
  top: 30%;
  width: 100%;
}

.sidebar_menus {
  margin: auto;
  padding-bottom: 40%;
}

.sidebar_menu_title {
  text-transform: uppercase;
  text-align: center;
  font-family: "din-condensed-web", "Trebuchet MS", "Arial Narrow", Arial,
    sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 900;
}

.menu_icon {
  width: 100%;
}

.sidebar_menu_subtitle {
  text-transform: uppercase;
  text-align: center;
  font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
    "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 11px;
}
#check {
  display: none;
}
label {
  display: none;
  top: 0;
}

/* Mobile-First Desgin */
@media only screen and (max-width: 600px) {
  body {
    margin-top: 0;
  }
  #hands {
    display: none;
  }
  #content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #About {
    display: grid;
  }

  #reference_link {
    width: 100%;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 0.5rem;
  }

  #reference_link a {
    text-align: center;
  }
  .ref_title {
    text-transform: uppercase;
    font-family: "din-condensed-web", "Trebuchet MS", "Arial Narrow", Arial,
      sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: crimson;
  }

  .ref_subtitle {
    text-transform: uppercase;
    font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
      "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: crimson;
    font-size: 11px;
    margin-top: 0.4rem;
    letter-spacing: 2px;
  }

  #work_showcase {
    display: grid;
    grid-row-gap: 0.5rem;
    width: 100%;
  }

  .overlay {
    display: none;
  }

  #contact_form {
    position: relative;
    overflow: hidden;
    margin-bottom: 3.5rem;
  }

  #foot_part {
    display: none;
  }

  #workshowcase {
    margin: 0;
  }

  #sidebar {
    left: -45%;
    z-index: 200;
    width: 45%;
    top: 0;
    transition: all 0.5s;
  }
  label {
    position: fixed;
    background-color: black;
    left: 0%;
    text-align: center;
    transition: all 0.5s;
    height: 50px;
    width: 50px;
    z-index: 1;
    display: block;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: left;
    cursor: pointer;
  }
  .hamberger {
    padding-top: 8px;
  }

  #check:checked ~ #sidebar {
    left: 0%;
  }

  #check:checked ~ label {
    left: 45%;
  }
}

@media only screen and (min-width: 600px) {
  html,
  body {
    background-color: rgb(243, 243, 243);
  }

  #container {
    background-color: white;
    width: 88.05%;
    margin: 0;
    float: right;
    overflow: hidden;
  }

  #content {
    background: white;
    width: 65.8%;
    margin: 0;
    text-align: center;
    margin-left: 17.4%;
    position: relative;
  }

  #head_part {
    background: rgb(243, 243, 243);
    width: 100%;
    height: 500px;
    margin: 0;
  }

  #left_hand {
    position: absolute;
    top: -100px;
    right: -100px;
  }

  #right_hand {
    position: absolute;
    top: -100px;
    left: -100px;
  }

  #About {
    overflow: hidden;
  }

  #introduction {
    width: 73%;
    height: 100%;
    margin-left: 0;
    float: left;
  }

  .intro_note {
    margin: 0;
    font-size: 1.2rem;
    font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
      "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align: left;
    line-height: 1.8rem;
    margin-bottom: 3.5%;
  }

  #reference_link {
    float: right;
    margin-right: 5%;
    margin-top: 3.5%;
  }

  .ref_title {
    text-transform: uppercase;
    text-align: center;
    font-family: "din-condensed-web", "Trebuchet MS", "Arial Narrow", Arial,
      sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0px;
    margin-bottom: 0;
    margin-top: 5%;
    color: crimson;
  }

  .ref_subtitle {
    text-transform: uppercase;
    text-align: center;
    font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
      "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: crimson;
    font-size: 11px;
    margin-top: 6%;
    letter-spacing: 2px;
  }

  #github_link {
    margin-top: 50%;
  }

  .we {
    width: 100%;
    position: relative;
  }
  .we:hover .overlay {
    width: 100%;
    left: 0;
    opacity: 0.9;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgb(155, 22, 22);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.8s ease;
  }
  .text {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .sub_note {
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
  }
  .grid_pics {
    width: 100%;
    height: 219px;
  }

  #work_showcase {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }

  .pic_1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .pic_2 {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #Contact {
    overflow: hidden;
    margin-bottom: 8%;
  }

  #contact_address {
    float: left;
    width: 30%;
    line-height: 1rem;
    text-align: left;
  }

  #contact_form {
    position: relative;
    overflow: hidden;
    float: right;
    width: 65%;
  }

  #submit_button:hover {
    background: red;
  }

  .header_title {
    font-size: 2.7rem;
  }

  .header_subtitle {
    font-size: 11px;
  }

  /* Good People part */
  #good_people_content {
    float: right;
    width: 64%;
  }

  #good_people_content .section_header {
    width: 66%;
  }

  #list_good_people {
    margin-top: 7%;
    font-size: 15px;
    font-family: "ff-tisa-web-pro", Palatino, " Palatino Linotype",
      "Palatino LT STD", "Book Antiqua", Georgia, serif;
  }

  /* resume part */
  #resume_content {
    float: right;
    width: 72.7%;
  }

  #resume_content .section_header {
    width: 70%;
  }

  #resume_content .sections {
    overflow: hidden;
    padding-bottom: 5%;
    width: 80%;
  }

  #resume_content .sections .section_title {
    width: 20%;
    float: left;
    text-transform: uppercase;
    font-family: "din-condensed-web", "Trebuchet MS", "Arial Narrow", Arial,
      sans-serif;
    font-size: 25px;
    letter-spacing: 0px;
    font-weight: 800;
    padding-top: 5px;
  }

  .section_body {
    width: 79.5%;
    float: right;
    border-bottom: 0.1px gray solid;
    padding-bottom: 5%;
    padding-left: 0.5rem;
  }

  .categories_container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  ul {
    padding-left: 20px;
    line-height: 2rem;
  }

  .section_body_note {
    margin-top: 0;
    line-height: 2rem;
  }

  /* work_showcase part */
  #body_note {
    clear: both;
    background-color: aliceblue;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 17.4%;
    text-align: center;
    padding-bottom: 4%;
    margin-top: 20%;
    overflow: hidden;
  }
  #body_note_passage {
    float: left;
    width: 50%;
  }
  #work_img {
    width: 400px;
    height: 300px;
  }
  #foot_note {
    width: 68%;
    margin: 0;
    text-align: center;
    margin-left: 16.4%;
    margin-bottom: 6%;
  }

  #check {
    display: none;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  body {
    margin: 0;
  }
  #sidebar {
    width: 24.8%;
  }

  #container {
    width: 75%;
  }

  #content {
    width: 86.8%;
    margin-left: 8%;
  }

  .grid_pics {
    width: 100%;
    height: 120px;
  }

  #reference_link {
    margin-right: 0;
  }

  #head_part {
    display: none;
  }
  #hands {
    display: none;
  }

  #foot_part {
    display: none;
  }

  #body_note {
    padding-left: 8%;
  }

  #body_note_passage {
    width: 80%;
  }

  #resume_content {
    float: right;
    width: 72.7%;
  }
}
